<template>
  <v-container flex>
    <v-row>
      <v-col cols="12" sm="12">
        <strong
          ><h4>{{ nombreadmin }}</h4></strong
        >
        <small>Bienvenido al modulo de recordatorios.</small>
      </v-col>
      <v-spacer></v-spacer>
      <v-col cols="3">
        <v-select
          v-model="selectCampania"
          :items="arrayCampaniasAdministrador"
          item-text="nombre"
          item-value="idcampania"
          label="Seleccione campaña"
          outlined
        ></v-select>
      </v-col>
      <v-col cols="3">
        <v-select
          v-model="tipoAlerta"
          :items="alertas"
          item-text="nombre"
          item-value="id"
          label="Seleccione tipo alerta"
          outlined
        ></v-select>
      </v-col>
      <v-col cols="3">
        <v-text-field
          v-model="recordatorio"
          label="Recordatorio"
          outlined
        ></v-text-field>
      </v-col>
      <v-flex xs12 lg3>
        <v-menu
          ref="menu1"
          v-model="menu1"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          max-width="290px"
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="dateFormatted"
              label="Fecha Recordatorio"
              persistent-hint
              prepend-icon="event"
              @blur="date = parseDate(dateFormatted)"
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker
            v-model="date"
            no-title
            @input="menu1 = false"
            locale="es-ES"
            :min="fechahoy"
          ></v-date-picker>
        </v-menu>
        <p>
          Fecha a guardar: <strong>{{ date }}</strong>
        </p>
      </v-flex>
    </v-row>
    <v-row class="col-4 offset-4">
      <v-btn color="success" @click="dialog = true">Crear Recordatorio</v-btn>
    </v-row>
    <v-divider></v-divider>
    <v-card>
      <v-card-title primary-title>
        <div>
          <h3 class="headline mb-0">Recordatorios</h3>
        </div>
      </v-card-title>
      <v-card-text>
        <v-data-table
          :headers="headers"
          :items="recordatorios"
          :items-per-page="5"
          class="elevation-1"
        >
          <template v-slot:item.recordatorio="{ item }">
            <v-chip :color="item.color" dark>
              {{ item.recordatorio }}
            </v-chip>
          </template>
        </v-data-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="dialog" persistent max-width="375">
      <v-card>
        <v-card-title secondary-title>
          Deseas asignar el recordatorio?
        </v-card-title>
        <v-card-text>
          <v-text-field v-model="email" label="Destinatario (email)" outlined
            ><v-icon slot="append" color="green" v-on:click="agregarCorreos"
              >mdi-email-plus</v-icon
            ></v-text-field
          >
        </v-card-text>
        <v-col cols="12" v-for="(item, index) in correos" :key="index">
          <span>Nuevo Correo {{ index + 1 }}</span>
          <v-text-field
            class="email"
            v-model="item.email"
            font-weight-black
            :rules="[(value) => !!value || 'email']"
            dense
            solo
          >
            <v-icon slot="append" color="red" v-on:click="borrarCorreo(index)"
              >mdi-email-minus</v-icon
            >
          </v-text-field>
        </v-col>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="dialog = false, correos = [], email = null">
            NO
          </v-btn>
          <v-btn color="green darken-1" text @click="correo()"> SI </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false">Cerrar</v-btn>
    </v-snackbar>
    <v-snackbar v-model="correoOk" top right color="success">
      {{ "Correo Enviado" }}
      <v-btn color="black" text @click="exitoso = false">Cerrar</v-btn>
    </v-snackbar>
    <v-snackbar color="error" top right v-model="snackbar_error">
      <div>
        <p class="mx-2 my-2" v-for="(item, i) in text_snack" :key="i">
          —&nbsp;{{ item }}
        </p>
      </div>
      <v-btn color="white" text @click="snackbar_error = false">CERRAR</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  data: (vm) => ({
    nombreadmin: "",
    arrayCampaniasAdministrador: [],

    fechaInicial: new Date().toISOString().substr(0, 10),
    fechaFinal: new Date().toISOString().substr(0, 10),

    //Para la alerta
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //Variable auxiliar
    exporRep: false,
    selectCampania: null,
    tipoAlerta: null,
    alertas: [
      { nombre: "Exitosa", id: "success" },
      { nombre: "Informativa", id: "info" },
      { nombre: "Adventencia", id: "warning" },
      { nombre: "Peligro", id: "error" },
    ],
    recordatorio: null,
    fechahoy: new Date().toISOString().substr(0, 10),
    date: new Date().toISOString().substr(0, 10),
    dateFormatted: vm.formatDate(new Date().toISOString().substr(0, 10)),
    menu1: false,
    menu2: false,
    dialog: false,
    respuesta: null,
    recordatorios: [],
    headers: [
      {
        text: "Campaña",
        align: "start",
        value: "campana.nombre",
      },
      { text: "Recordatorio", value: "recordatorio", color: "color" },
      { text: "Fecha del recordatorio", value: "fecha_recordatorio" },
    ],
    correoOk: false,
    email: null,
    snackbar_error: false,
    text_snack: [],
    correos: []
  }),
  computed: {
    computedDateFormatted() {
      return this.formatDate(this.date);
    },
  },

  watch: {
    date(val) {
      this.dateFormatted = this.formatDate(this.date);
    },
  },
  methods: {
    agregarCorreos: function () {
      this.correos.push({
        email: "",
      });
    },
    borrarCorreo(index) {
      this.correos.splice(index, 1);
    },

    formatDate(date) {
      if (!date) return null;

      const [year, month, day] = date.split("-");
      return `${month}/${day}/${year}`;
    },
    parseDate(date) {
      if (!date) return null;

      const [month, day, year] = date.split("/");
      return `${year}-${month.padStart(2, "0")}-${day.padStart(2, "0")}`;
    },
    //Listar Campañas
    listarCampaniasAdministrador() {
      axios.get("campaniaAdministrador").then((response) => {
        this.arrayCampaniasAdministrador = response.data[0];
        this.nombreadmin =
          response.data[1].nombre + " " + response.data[1].apellido;
      });
    },

    listarecordatorios() {
      axios.get("recordatorios").then((res) => {
        this.recordatorios = res.data;
      });
    },

    correo(item, novedad, asunto) {
      axios
        .post("enviar-correo", {
          campaña: this.selectCampania,
          recordatorio: this.recordatorio,
          fecha: this.date,
          email: this.email,
          correos: this.correos,
          tipo_alerta: this.tipoAlerta,
        })
        .then((res) => {
          this.correoE = res.data;
          this.correoOk = true;
          this.crearecordatorio();
        })
        .catch((error) => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          console.log(error.response.data);
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          console.error("este es un error", error);
        });
    },
    crearecordatorio() {
      axios
        .get("crearecordatorio", {
          params: {
            idcampana: this.selectCampania,
            color: this.tipoAlerta,
            recordatorio: this.recordatorio,
            fecha: this.date,
          },
        })
        .then((res) => {
          this.respuesta = res.data;
          this.arrayMensaje.push("Recordatorio creado exitosamente.");
          this.banMensaje = true;
          this.colorMensaje = "success";
          this.selectCampania = null;
          this.tipoAlerta = null;
          this.recordatorio = null;
          this.date = new Date().toISOString().substr(0, 10);
          this.dialog = false;
          this.email = null;
          this.correos = [];
          this.listarecordatorios();
        })
        .catch((error) => {
          this.text_snack = [];
          this.snackbar_error = true;
          var errores = error.response.data.errors;
          console.log(error.response.data);
          for (var key in errores) {
            if (errores.hasOwnProperty(key)) {
              errores[key].forEach((element) => {
                this.text_snack.push(element);
              });
            }
          }

          console.error("este es un error", error);
        });
    },
  },

  mounted() {
    this.listarCampaniasAdministrador();
    this.listarecordatorios();
  },
};
</script>

