<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="6">
        <strong>{{ nombreadmin }}</strong>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6">
        <h5>A continuación tienes los siguientes tickets</h5>
        <h5>generados en GLPI</h5>
      </v-col>
    </v-row>

    <v-row cols="12" sm="12"> </v-row>

    <!-- Inicio Listado -->
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headersUsuarioCampanias"
          :items="arrayCampaniasAdministrador"
          class="elevation-3"
          :items-per-page="5"
        >
          <template v-slot:item.accion="{ item }">
            <v-icon
              medium
              color="blue"
              title="Aprobar"
              @click="tikectGenerado(item.ticket_glpi, 1)"
            >
              mdi-check-circle
            </v-icon>
            <v-icon
              medium
              color="red"
              title="Desaprobar"
              @click="tikectGenerado(item.ticket_glpi, 0)"
            >
              mdi-close-circle
            </v-icon>
            <v-icon
              medium
              color="green"
              title="Ver Aspirantes"
              @click="listarAspirantes(item.ticket_glpi, item.grupo_id)"
            >
              mdi-eye-circle
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <!-- Fin Listado -->

    <!-- Inicio modal -->
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"
            ><v-icon medium color="red">mdi-alert</v-icon> Ingrese la
            observacion <br />
            del aspirante</span
          >
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                # Ticket GLPI <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="numTicketGlpi"
                  label="# Ticket GLPI"
                  solo
                  outlined
                  disabled
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12">
                Observación <span style="color: #f44336">*</span>
                <v-textarea
                  v-model="observacion"
                  label="Observación"
                  solo
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="cambioTicket()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>
          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrarModal()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!--modal de valido-->

    <!-- inicio modal previsualicacion de listado -->
    <v-dialog v-model="dialog2" max-width="1500px">
      <v-card>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <strong>#Ticket: </strong> {{ numetoTicket }}
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <strong>Formador: </strong> {{ nombreFormador }}
              </v-col>
              <v-col cols="12" sm="6" md="4">
                <strong>Campaña: </strong> {{ nombreCampania }}
              </v-col>
            </v-row>

            <v-card-title>
              <span class="headline"
                ><v-icon medium color="blue">mdi-clipboard-list</v-icon>Listado
                de aspirantes</span
              >
            </v-card-title>

            <v-row>
              <v-col cols="12">
                <v-data-table
                  v-if="aspirante != null"
                  :headers="headersAspirantes"
                  :items="arrayAspirantesCampania"
                  :items-per-page="20"
                >
                  <template v-slot:item.apto="{ item }">
                    <v-icon medium v-if="item.apto == 1" color="blue">
                      mdi-check-circle
                    </v-icon>
                    <v-icon medium v-else color="blue">
                      mdi-circle-outline
                    </v-icon>
                  </template>
                  <template v-slot:item.dias_formacion="{ item }">
                    <label>{{ dias_totales_formacion }}</label>
                  </template>
                </v-data-table>
                <v-data-table
                  v-else-if="aspirante_claro != null"
                  :headers="headersAspirantesClaro"
                  :items="arrayAspirantesCampania"
                  :items-per-page="20"
                >
                  <template v-slot:item.apto="{ item }">
                    <v-icon medium v-if="item.apto == 1" color="blue">
                      mdi-check-circle
                    </v-icon>
                    <v-icon medium v-else color="blue">
                      mdi-circle-outline
                    </v-icon>
                  </template>
                  <template v-slot:item.dias_formacion="{ item }">
                    <label>{{ dias_totales_formacion }}</label>
                  </template>
                </v-data-table>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrarModal()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- inicio modal previsualicacion de listado -->

    <!--modal de fin  valido-->
    <!-- Fin modal -->
    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false"> Cerrar </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  mounted() {
    this.listarCampaniasAdministrador();
  },

  data: () => ({
    nombreadmin: "",

    //Inicio para listado
    arrayCampaniasAdministrador: [],
    headersUsuarioCampanias: [
      { text: "# ticket", value: "ticket_glpi" },
      { text: "Nombre Usuario", value: "formador.nombre_usuario" },
      { text: "Apellido Usuario", value: "formador.apellido_usuario" },
      { text: "Campaña", value: "campania.nombre" },
      { text: "Grupo", value: "grupo.nombre_grupo" },
      { text: "Acción", value: "accion" },
    ],
    //Fin pra listado
    arrayAspirantesCampania: [],
    dias_totales_formacion: "",
    //inicio listado aspirantes
    headersAspirantes: [
      { text: "Nombre", value: "aspirante.primer_nombre" },
      { text: "Primer Apellido", value: "aspirante.primer_apellido" },
      { text: "Segundo Apellido", value: "aspirante.segundo_apellido" },
      { text: "Identificación", value: "aspirante.documento" },
      { text: "Apto", value: "apto" },
      { text: "Días asistidos", value: "asistencia_count" },
      { text: "Días total de formación", value: "dias_formacion" },
    ],
    //fin listado aspirantes

    //inicio listado aspirantes
    headersAspirantesClaro: [
      { text: "Nombres", value: "aspirante_claro.nombres" },
      { text: "Apellidos", value: "aspirante_claro.apellidos" },
      { text: "Identificación", value: "aspirante_claro.documento" },
      { text: "Apto", value: "apto" },
      { text: "Días asistidos", value: "asistencia_count" },
      { text: "Días total de formación", value: "dias_formacion" },
    ],
    //fin listado aspirantes
    // alertas
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //modal
    dialog: false,
    dialog2: false,
    observacion: "",
    numTicketGlpi: "",

    //Variables Auxiliares
    numetoTicket: "",
    nombreFormador: "",
    nombreCampania: "",
    aspirante: null,
    aspirante_claro: null,
  }),

  methods: {
    //Listar Campañas
    listarCampaniasAdministrador() {
      axios.get("listarFormadorAdministrador").then((response) => {
        this.arrayCampaniasAdministrador = response.data[0];
        this.nombreadmin =
          response.data[1].nombre + " " + response.data[1].apellido;
      });
    },

    //
    listarAspirantes(numticket, grupo) {
      this.dialog2 = true;
      axios
        // .get('listadoAspirantesAdministradorVista/'+numticket)
        .post("listadoAspirantesAdministradorVista", {
          ticket: numticket,
          grupo: grupo,
        })
        .then((response) => {
          this.arrayAspirantesCampania = response.data[0];
          this.aspirante = this.arrayAspirantesCampania[0].aspirante;
          this.aspirante_claro = this.arrayAspirantesCampania[0].aspirante_claro;
          this.numetoTicket = this.arrayAspirantesCampania[0].ticket_glpi;
          this.nombreFormador =
            this.arrayAspirantesCampania[0].formador.nombre_usuario +
            " " +
            this.arrayAspirantesCampania[0].formador.apellido_usuario;
          this.nombreCampania = this.arrayAspirantesCampania[0].campania.nombre;
          this.dias_totales_formacion = response.data[1];
        });
    },

    //Para cambio de estado de Ticket GLPI
    tikectGenerado(ticket_glpi, accion) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      if (accion == 1) {
        axios
          .post("cambioTicket", {
            ticket_glpi: ticket_glpi,
            accion: 1,
          })
          .then(function (response) {
            dbtm.arrayMensaje.push("Registro exitoso.");
            dbtm.banMensaje = true;
            dbtm.colorMensaje = "success";
            dbtm.listarCampaniasAdministrador();
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      } else if (accion == 0) {
        this.numTicketGlpi = ticket_glpi;
        this.dialog = true;
      }
    },

    cambioTicket() {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      if (dbtm.observacion == null || dbtm.observacion.length <= 5) {
        dbtm.arrayMensaje.push(
          "Todos los campos son obligatorios y el campo Observación debe tener por lo menos 6 caracteres."
        );
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
      } else {
        axios
          .post("cambioTicket", {
            observacion: dbtm.observacion,
            ticket_glpi: dbtm.numTicketGlpi,
            accion: 0,
          })
          .then(function (response) {
            dbtm.arrayMensaje.push("Registro exitoso.");
            dbtm.banMensaje = true;
            dbtm.colorMensaje = "success";
            dbtm.cerrarModal();
            dbtm.listarCampaniasAdministrador();
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      }
    },

    cerrarModal() {
      this.dialog = false;
      this.dialog2 = false;
      this.observacion = "";
      this.numTicketGlpi = "";
      this.aspirante = null;
      this.aspirante_claro = null;
    },
  },
};
</script>

