<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="6">
        <strong>{{ nombreadmin }}</strong>
      </v-col>
    </v-row>

    <v-row cols="12" sm="12">
      <v-col cols="12" sm="4">
        <!-- <v-select v-model="selectFormadorCampania" :items="arrayFormadoresCampania" item-text="nombrecompleto" item-value="formador_id" label="Seleccione Formador" outlined @change="listadoAspirantesAdministrador()"></v-select> -->
        <v-select
          v-model="selectFormadorCampania"
          :items="arrayFormadoresCampania"
          item-text="nombrecompleto"
          item-value="id_usuario"
          label="Seleccione Formador"
          outlined
          @change="listarCampaniasFormadores(selectFormadorCampania)"
        ></v-select>
      </v-col>

      <v-col
        cols="12"
        sm="4"
        v-if="selectFormadorCampania != '' && arrayCampaniasFormadores != ''"
      >
        <v-select
          v-model="selectCampaniaFormadores"
          :items="arrayCampaniasFormadores"
          item-text="campania.nombre"
          item-value="campania.idcampania"
          label="Seleccione Campaña"
          outlined
          @change="
            listarFormadoresGrupos(
              selectFormadorCampania,
              selectCampaniaFormadores
            )
          "
        ></v-select>
      </v-col>

      <v-col cols="12" sm="4" v-else-if="haygrupo == 'no'">
        <span><h4>El formador no tiene campañas asignadas.</h4></span>
      </v-col>

      <v-col
        cols="12"
        sm="4"
        v-if="selectCampaniaFormadores != '' && selectFormadorCampania != ''"
      >
        <v-select
          v-model="selectFormadorGrupos"
          :items="arrayFormadoresGrupos"
          item-text="nombre_grupo"
          item-value="idgrupo"
          label="Seleccione Grupo"
          outlined
          @change="
            fechasFormacion(selectFormadorGrupos),
              listadoAspirantesAdministrador(
                selectFormadorCampania,
                selectCampaniaFormadores,
                selectFormadorGrupos
              )
          "
        ></v-select>
      </v-col>
    </v-row>

    <!-- Inicio Listado -->
    <v-row v-if="fechaini != '' && fechafin != ''">
      <v-col cols="12" sm="12">
        <v-divider></v-divider>
        <h3 class="text-center">Fechas de formación.</h3>
        <label>Fecha Inicio: {{ fechaini }}</label>
        <br />
        <label>Fecha Final: {{ fechafin }}</label>
        <v-spacer></v-spacer>
        <v-btn
          class="text-right"
          justify-xl-end
          color="blue lighten-2"
          dark
          @click="abrircalendario()"
          >Calendario de Formación</v-btn
        >
      </v-col>
      <v-col cols="12">
        <v-data-table
          :headers="headersAspirantes"
          :items="arrayAspirantesCampania"
          :items-per-page="20"
        >
          <template v-slot:item.apto="{ item }">
            <v-icon
              medium
              v-if="item.gestion.apto == 1"
              color="blue"
              @click="aptoAspirante(item.campania_id, item.idaspirante, 0)"
              >mdi-check-circle</v-icon
            >
            <v-icon
              medium
              v-else
              color="blue"
              @click="aptoAspirante(item.campania_id, item.idaspirante, 1)"
              >mdi-circle-outline</v-icon
            >
          </template>
          <template v-slot:item.dias_formacion="{ item }">
            <label>{{ dias_totales_formacion }}</label>
          </template>
          <template v-slot:item.edita="{ item }">
            <v-icon medium color="blue" @click="editItem(item)"
              >mdi-account-edit</v-icon
            >
          </template>
        </v-data-table>
        <v-card-actions>
          <!--           <v-spacer></v-spacer>
          <v-btn
            :disabled="disabled"
            justify-xl-end
            v-if="arrayAspirantesCampania.length>0"
            class="my-2"
            color="blue lighten-2"
            dark
            style="color: #000"
            @click="formTicketGLPI()"
          >
            <v-icon color="blue darken-4" dark>mdi-check-circle</v-icon>GLPI
          </v-btn> -->
        </v-card-actions>
      </v-col>
    </v-row>
    <!-- Fin Listado -->

    <!-- Inicio modal -->
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <span class="headline">
            <v-icon medium color="red">mdi-alert</v-icon>Actualizar Información
          </span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row v-if="selectCampaniaFormadores <= 6">
              <v-col cols="12" sm="6" md="6">
                Primer Nombre
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.primer_nombre"
                  label="Primer Nombre"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Segundo Nombre
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.segundo_nombre"
                  label="Segundo Nombre"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Primer Apellido
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.primer_apellido"
                  label="Primer Apellido"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Segundo Apellido
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.segundo_apellido"
                  label="Segundo Apellido"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Tipo de Identificación
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.tipo_documento"
                  label="Tipo de Identificación"
                  solo
                  outlined
                  filled
                  maxlength="6"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Identificación
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.documento"
                  label="Identificación"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  @keypress="isNumber($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Correo agente
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.correo_agente"
                  label="Correo Agente"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row v-else>
              <v-col cols="12" sm="6" md="6">
                Nombres
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.nombres"
                  label="Primer Nombre"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Apellidos
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.apellidos"
                  label="Primer Apellido"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Tipo de Identificación
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.tipo_documento"
                  label="Tipo de Identificación"
                  solo
                  outlined
                  filled
                  maxlength="6"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Identificación
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.documento"
                  label="Identificación"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  @keypress="isNumber($event)"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6" md="6">
                Correo agente
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="editedItem.correo"
                  label="Correo Agente"
                  solo
                  outlined
                  filled
                  maxlength="20"
                  style="text-transform: uppercase"
                  @keypress="isMayusculaSpacio($event)"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="editSaveAspirante()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>

          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrar()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin modal -->

    <!-- Inicio segundo modal registro de asistencia -->
    <v-dialog v-model="dialog2" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline">
            <v-icon medium color="red">mdi-alert</v-icon>Por favor ingrese la
            Observación <br />generado en GLPI
          </span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" md="12">
                Número de Ticket
                <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="numeroTicketGLPI"
                  label="Número de Ticket"
                  solo
                  outlined
                  disabled
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="12" md="12">
                Observación
                <span style="color: #f44336">*</span>
                <v-textarea
                  v-model="observacionTicketGLPI"
                  label="Observación"
                  solo
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="enviaTicketGLPI()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>

          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrarModal()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin segundo modal registro de asistencia -->

    <!-- Inicio tercer modal calendario -->
    <v-dialog v-model="dialog_fechas" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"> CALENDARIO DE FORMACIÓN </span>
        </v-card-title>

        <v-card-text>
          <v-simple-table v-if="pinchis != null">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Nombre Completo</th>
                  <th
                    v-for="items in array_Fechas"
                    :key="items"
                    class="text-left"
                  >
                    {{ items }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in arrayAspirantesCampania"
                  :key="item.idaspirante"
                >
                  <td>{{ item.nombre_completo }}</td>
                  <td
                    v-for="asistencia in item.asistencia"
                    :key="asistencia.idasistencia"
                  >
                    <ol>
                      <li v-if="asistencia.retiro == 1" style="color: red">
                        Se retiró
                      </li>
                      <li
                        v-if="
                          asistencia.asistencia == 0 && asistencia.retiro == 0
                        "
                        style="color: red"
                      >
                        No asiste
                      </li>
                      <li
                        v-if="
                          asistencia.asistencia == 1 && asistencia.retiro == 0
                        "
                        style="color: green"
                      >
                        Asiste
                      </li>
                      <li
                        v-if="
                          item.gestion.apto == 1 &&
                          asistencia.fecha_formacion == fechafin &&
                          asistencia.retiro == 0
                        "
                        style="color: #005180"
                      >
                        Apto
                      </li>
                      <li
                        v-if="
                          item.gestion.apto == 0 &&
                          asistencia.fecha_formacion == fechafin &&
                          asistencia.retiro == 0
                        "
                        style="color: #b80000"
                      >
                        No apto
                      </li>
                    </ol>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="dialog_fechas = false"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>CERRAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin tercer modal calendario -->

    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false">Cerrar</v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  mounted() {
    this.listarFormadoresCampania();
  },

  data: () => ({
    nombreadmin: "",
    arrayCampaniasFormadores: [],
    selectCampaniaFormadores: "",

    arrayFormadoresCampania: [],
    selectFormadorCampania: "",

    selectFormadorGrupos: "",
    arrayFormadoresGrupos: [],

    //Para la alerta
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //Inicio para listado
    arrayAspirantesCampania: [],
    headersAspirantes: [
      { text: "Nombre Completo", value: "nombre_completo" },
      { text: "Identificación", value: "documento" },
      { text: "Correo Agente", value: "correo_agente" },
      { text: "Correo Agente", value: "correo" },
      { text: "Apto", value: "apto" },
      { text: "Días asistidos", value: "asistencia_count" },
      { text: "Días total de formación", value: "dias_formacion" },
      { text: "Editar", value: "edita" },
    ],
    //Fin para listado

    //Variables para activar modal
    dialog: false,
    desserts: [],
    editedIndex: -1,
    editedItem: {
      nombres: "",
      apelldos: "",
      correo: "",
      nombre_completo: "",
      primer_nombre: "",
      segundo_nombre: "",
      primer_apellido: "",
      segundo_apellido: "",
      tipo_documento: "",
      documento: "",
      correo_agente: "",
    },

    fechaini: false,
    fechafin: false,
    fechaHoy: new Date().toISOString().substr(0, 10),
    dias_totales_formacion: "",

    ticketFormTicketGLPI: "",

    numeroTicketGLPI: "",
    observacionTicketGLPI: "",

    menu1: false,

    //Variables para activar segundo modal
    dialog2: false,
    disabled: true,
    grupo: null,

    array_Fechas: null,
    pinchis: null,
    haygrupo: null,
    dialog_fechas: false,
  }),
  methods: {
    //colores para las asistencias
    getColor(calories) {
      if (calories > 400) return "red";
      else if (calories > 200) return "orange";
      else return "green";
    },
    //Listar Formadores por Campañas
    listarFormadoresCampania() {
      // this.selectFormadorCampania = '';
      // axios.get("listarFormadoresCampania/"+this.selectCampaniaFormadores)
      // .then(response => {
      //   this.arrayFormadoresCampania = response.data;
      // });

      axios.get("listarFormadoresCampania").then((res) => {
        this.arrayFormadoresCampania = res.data[0];
        this.nombreadmin = res.data[1].nombre + " " + res.data[1].apellido;
      });
    },

    fechasFormacion(grupo) {
      //let dbtm = this;
      this.fechaInicio = "";
      this.fechaFin = "";
      axios.post("/valiarFechasFormacion", { grupo: grupo }).then((res) => {
        this.fechaini = res.data.fechaInicio;
        this.fechafin = res.data.fechaFinal;
        this.fechaFormacion = res.data.respuesta;
      });
    },

    //Listar Campañas
    listarCampaniasFormadores(formador) {
      // axios
      // .get("listarCampaniasFormadores")
      // .then(response => {
      //   this.arrayCampaniasFormadores = response.data[0];
      // });
      this.selectCampaniaFormadores = "";
      this.selectFormadorGrupos = "";
      axios
        .post("/listarCampaniasFormadores", { formador: formador })
        .then((res) => {
          //console.log(res.data);
          this.arrayCampaniasFormadores = res.data;
          if (!res.data || res.data === "" || 0 === res.data.length) {
            this.haygrupo = "no";
          } else {
            this.haygrupo = "si";
          }
        });
    },

    listarFormadoresGrupos(forma, campa) {
      //console.log(forma,campa);
      this.selectFormadorGrupos = "";
      axios
        .post("/listarGruposFormadores", { forma: forma, campa: campa })
        .then((res) => {
          this.arrayFormadoresGrupos = res.data;
        });
    },

    //Listar Aspirantes
    listadoAspirantesAdministrador(formador, campania, grupo) {
      //console.log(grupo, this.arrayFormadoresGrupos);
      this.grupoglpi(formador, campania, grupo);
      let dbtm = this;
      dbtm.array_Fechas = null;
      axios
        .post("/listadoAspirantesAdministrador", {
          formador: formador,
          campania: campania,
          grupo: grupo,
        })
        .then((res) => {
          dbtm.dias_totales_formacion = res.data[0];
          dbtm.arrayAspirantesCampania = res.data[1];
          dbtm.array_Fechas = res.data[2];
          dbtm.numeroTicketGLPI = this.arrayAspirantesCampania[0].ticket_glpi;
          dbtm.pinchis = 1;
        });
    },

    //mostrar modal
    mostrarAspirantes() {
      this.banTabla = 1;
      axios.get("listadoAspirantes").then((response) => {
        this.arrayAspirantesCampania = response.data[0];
      });
    },

    //Check Apto Aspirantes
    aptoAspirante(idcampania, idaspirante, param) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("aptoAspiranteAdministrador", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          param: param,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listadoAspirantesAdministrador(
            dbtm.selectFormadorCampania,
            dbtm.selectCampaniaFormadores,
            dbtm.selectFormadorGrupos
          );
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    //Pase de asistencia
    paseAsistencia(idcampania, idaspirante, cdia, param, idformador) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("asistenciaAspiranteAdministrador", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          dia: cdia,
          param: param,
          idformador: idformador,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro exitoso.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listadoAspirantesAdministrador(
            dbtm.selectFormadorCampania,
            dbtm.selectCampaniaFormadores,
            dbtm.selectFormadorGrupos
          );
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    //funciones del Modal para cambiar datos del Aspirante
    editItem(item) {
      this.editedIndex = this.desserts.indexOf(item);
      this.editedItem = Object.assign({}, item);
      console.log(this.editedItem);
      this.dialog = true;
    },

    //Guarda edicion del aspirante
    editSaveAspirante() {
      let dbtm = this;
      dbtm.arrayMensaje = [];
      axios
        .post("editSaveAspirante", {
          nombres: dbtm.editedItem.nombres,
          apellidos: dbtm.editedItem.apellidos,
          correo: dbtm.editedItem.correo,
          primer_nombre: dbtm.editedItem.primer_nombre,
          segundo_nombre: dbtm.editedItem.segundo_nombre,
          primer_apellido: dbtm.editedItem.primer_apellido,
          segundo_apellido: dbtm.editedItem.segundo_apellido,
          tipo_documento: dbtm.editedItem.tipo_documento,
          documento: dbtm.editedItem.documento,
          correo_agente: dbtm.editedItem.correo_agente,
          idaspirante: dbtm.editedItem.idaspirante,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listadoAspirantesAdministrador(
            dbtm.selectFormadorCampania,
            dbtm.selectCampaniaFormadores,
            dbtm.selectFormadorGrupos
          );
          dbtm.cerrar();
        })
        .catch(function (error) {
          $.each(error.response.data.errors, function (key, value) {
            dbtm.arrayMensaje.push(value);
            dbtm.banMensaje = true;
            dbtm.colorMensaje = "error";
          });
        });
    },

    cerrar() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;
      }, 300);
    },

    //segundo modal observacion y ticket
    formTicketGLPI() {
      this.dialog2 = true;
    },

    //cerrar segundo modal
    cerrarModal() {
      this.dialog2 = false;
    },

    //enviar ticket
    enviaTicketGLPI(idformador) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      if (
        dbtm.numeroTicketGLPI == 0 ||
        dbtm.numeroTicketGLPI == null ||
        dbtm.observacionTicketGLPI == null ||
        dbtm.observacionTicketGLPI.length <= 5
      ) {
        dbtm.arrayMensaje.push(
          "Todos los campos son obligatorios y el campo Observación debe tener por lo menos 6 caracteres."
        );
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
      } else {
        axios
          .post("enviaGestionTicketGLPIAdministrador", {
            numeroTicketGLPI: dbtm.numeroTicketGLPI,
            observacionTicketGLPI: dbtm.observacionTicketGLPI,
            id_grupo: this.grupo.idgrupo,
          })
          .then(function (response) {
            if (response.status == 220) {
              dbtm.arrayMensaje.push("Número de Ticket GLPI ya existe.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            } else if (response.status == 200) {
              dbtm.arrayMensaje.push("Registro exitoso.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "success";
              dbtm.disabled = true;
              dbtm.listadoAspirantesAdministrador(
                dbtm.selectFormadorCampania,
                dbtm.selectCampaniaFormadores,
                dbtm.selectFormadorGrupos
              );
              dbtm.cerrarModal();
            }
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      }
    },

    // Validaciones del modal
    ////Validaciones de solo Numeros
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    ////Validaciones de textos
    isMayusculaSpacio: function (e) {
      var key = e.keyCode || e.which;
      var tecla = String.fromCharCode(key).toString();
      var letras =
        "ABCDEFGHIJKLMNÑOPQRSTUVWXYZÁÉÍÓÚabcdefghijklmnñopqrstuvwxyzáéíóú "; //Se define todo el abecedario que se quiere que se muestre.
      var especiales = [8, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

      var tecla_especial = false;
      for (var i in especiales) {
        if (key == especiales[i]) {
          tecla_especial = true;
          break;
        }
      }

      if (letras.indexOf(tecla) == -1 && !tecla_especial) {
        e.preventDefault();
        return false;
      } else {
        return true;
      }
    },

    grupoglpi(formador, campania, grupo) {
      axios
        .get("grupos", {
          params: {
            formador: formador,
            campania: campania,
            grupo: grupo,
          },
        })
        .then((res) => {
          this.grupo = res.data;
          if (this.grupo.glpi_existe == 0) {
            this.disabled = false;
          } else {
            this.disabled = true;
          }
        });
    },
    abrircalendario() {
      this.dialog_fechas = true;
    },
  },
};
</script>

