<template>
  
    <v-container fluid>
      <v-row>
        <v-col cols="12" sm="6">
          <strong>{{nombreadmin}}</strong>
        </v-col>       
      </v-row>

      <v-form @submit.prevent="exportarExcel">
        <v-row cols="12" sm="12">
          <v-col cols="12" sm="4">
              <v-select v-model="selectCampaniaFormadores" :items="arrayCampaniasFormadores" item-text="campania.nombre" item-value="campania.idcampania" label="Seleccione Campaña" outlined @change="listarFormadoresCampania()"></v-select>
          </v-col>

          <v-col cols="12" sm="4">
            <v-select v-if="selectCampaniaFormadores!=''" v-model="selectFormadorCampania" :items="arrayFormadoresCampania" item-text="nombrecompleto" item-value="formador_id" label="Seleccione Formador" outlined ></v-select>
            <v-select v-else v-model="selectFormadorCampania" :items="arrayFormadoresCampania" item-text="nombrecompleto" item-value="id" label="Seleccione Formador" outlined ></v-select>
          </v-col>          
        </v-row>

        <v-row cols="12" sm="12">
          <v-col cols="6" sm="3" md="3">
            Fecha Inicial <span style="color: #F44336">*</span>
            <v-menu v-model="menu1" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field v-model="fechaInicial" label="Fecha Inicial" solo outlined filled prepend-icon="event" readonly v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="fechaInicial" @input="menu1 = false" locale="ES" :max="new Date().toISOString().substr(0, 10)"></v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="6" sm="3" md="3">
            Fecha Final <span style="color: #F44336">*</span>
            <v-menu v-model="menu2" :close-on-content-click="false" :nudge-right="40" transition="scale-transition" offset-y min-width="290px">
            <template v-slot:activator="{ on }">
              <v-text-field v-model="fechaFinal" label="Fecha Final" solo outlined filled prepend-icon="event" readonly v-on="on"></v-text-field>
            </template>
            <v-date-picker v-model="fechaFinal" @input="menu2 = false" locale="ES" :max="new Date().toISOString().substr(0, 10)"></v-date-picker>
            </v-menu>
          </v-col>
          <v-col cols="6" sm="3">
            <v-btn type="submit" class="my-2" color="#81C784" dark style="color: #000" :loading="exporRep">
                <v-icon dark>mdi-cloud-download</v-icon>Descargar
            </v-btn>
          </v-col>
        </v-row>

      </v-form>

      <v-snackbar v-for="(mensaje, index) in arrayMensaje " :key="index" v-model="banMensaje" :color="colorMensaje" right top>
        {{mensaje}}
        <v-btn color="black" text @click="banMensaje = false" > Cerrar </v-btn>
      </v-snackbar>
    </v-container>
  
</template>

<script>
  export default {
    data: () => ({
        nombreadmin: '',
        arrayCampaniasFormadores: [],
        selectCampaniaFormadores: '',
       
        arrayFormadoresCampania: [],
        selectFormadorCampania: '',

        fechaInicial: new Date().toISOString().substr(0, 10),
        fechaFinal: new Date().toISOString().substr(0, 10),
        menu1: false,
        menu2: false,
       
        //Para la alerta
        banMensaje: false,
        arrayMensaje: [],
        colorMensaje: '',

        //Variable auxiliar
        exporRep: false,
        
        
    }),

    

    methods: {

      //Listar Campañas
      listarCampaniasFormadores(){
        axios.post("listarCampaniasFormadores").then(response => {
          this.arrayCampaniasFormadores = response.data[0];
          this.nombreadmin = response.data[1].nombre +' '+response.data[1].apellido;
        });
      },

      //Listar Formadores Usuarios
        listarFormadores() {
          axios.get("listarFormadores").then(response => {
            this.arrayFormadoresCampania = response.data;
            console.log(this.arrayFormadoresCampania);
          });
        },

      //Listar Formadores por Campañas
      listarFormadoresCampania(){
        this.selectFormadorCampania = '';
        axios.get("listarFormadoresCampania/"+this.selectCampaniaFormadores)
        .then(response => {
          this.arrayFormadoresCampania = response.data;
        });
      },

      //Exportar a excel
      exportarExcel: function (event) {
        
        let dbtm = this;
        dbtm.arrayMensaje = [];
        dbtm.exporRep = true;

        if(dbtm.fechaInicial && dbtm.fechaFinal) {
          
          if(dbtm.fechaInicial > dbtm.fechaFinal) {
            dbtm.arrayMensaje.push("El campo Fecha Inicial debe ser menor o igual al campo Fecha Final.");
            dbtm.banMensaje = true;
            dbtm.colorMensaje = 'error';
            dbtm.exporRep = false;
            
          }else{
            
            axios({
                  url: 'reporteriaExcel',
                  method: "POST",
                  data: {
                    idCampania : dbtm.selectCampaniaFormadores,
                    idFormador : dbtm.selectFormadorCampania,
                    fechaInicial : dbtm.fechaInicial,
                    fechaFinal : dbtm.fechaFinal,
                  },
                  responseType: 'blob',
              })
              .then(response => {

                if(response.status == 200){
                    const url = window.URL.createObjectURL(new Blob([response.data]));
                    const link = document.createElement('a');
                    link.href = url;
                    link.setAttribute('download', 'reporte.xlsx'); //or any other extension
                    document.body.appendChild(link);
                    link.click();
                }else if(response.status == 210){
                  dbtm.arrayMensaje.push("No existen registros para el reporte.");
                  dbtm.banMensaje = true;
                  dbtm.colorMensaje = 'info';
                }

                this.exporRep = false;
              })
              .catch(error => {
                  // console.log("error " + error);
              });

            dbtm.exporRep = false;

          }

        }else{
          dbtm.arrayMensaje.push("Los campos Fecha Inicial y Fecha Final, son obligatorios.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = 'error';
          dbtm.exporRep = false;
        }
        
      },

    },



    mounted() {
      this.listarCampaniasFormadores();
      this.listarFormadores();
    },

  }
</script>

