<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawer" :clipped="$vuetify.breakpoint.lgAndUp" app>
      <v-list dense>
        <template v-for="item in menu">
          <v-list-item :key="item.text" @click="incremento(item.link)">
              <v-btn style="width: 200px;">  
              <v-list-item-action>
              <v-icon size="20">{{ item.icon }}</v-icon>
              </v-list-item-action>
              <v-list-item-content>
              <v-list-item-title style="font-size:16px">
                  {{ item.text }}
              </v-list-item-title>
              </v-list-item-content>
              </v-btn>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar :clipped-left="$vuetify.breakpoint.lgAndUp" app color="blue darken-3" dark >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3" >
        <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
        <span class="hidden-sm-and-down">Usuario Formador</span>
      </v-toolbar-title>

      <v-spacer></v-spacer>
      </v-app-bar>

    <v-main >
      <v-container fluid fill-height v-show="link!=''">
        <v-layout align-start justify-start>
            
            <template v-if="link==1">
                <listadoaspirantes-component></listadoaspirantes-component>
            </template>

            <template v-if="link==2">
                <listadorespuestas-component></listadorespuestas-component>
            </template>

        </v-layout>
      </v-container>
    </v-main>

  </v-app>
</template>

<script>
export default {
    data: () => ({
        dialog: false,
        drawer: null,
        link: 1,
        menu: [ 
                { icon: 'mdi-clipboard-list', text: 'Asistencia', link: 1 }, 
                { icon: 'mdi-email-sync', text: 'Respuestas', link: 2 } 
              ],
    }),

    methods:{

      incremento(item) {
        this.link = item;
      },
      
    },



}
  
</script>