<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="6">
        <strong>{{ nombreFormador }}</strong>
      </v-col>
    </v-row>

    <!-- Inicio Listado Respuestas Tickets-->
    <v-row v-if="banTabla == 0">
      <v-col cols="12">
        <v-data-table
          :headers="headerRespuestas"
          :items="arrayRespuestasAdmin"
          class="elevation-3"
          :items-per-page="20"
        >
          <template v-slot:item.accion="{ item }">
            <v-icon
              medium
              color="blue"
              @click="mostrarAspirantes(item.ticket_glpi)"
            >
              mdi-eye-check
            </v-icon>
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <!-- Fin Listado Respuestas Tickets-->

    <!-- Inicio Listado Respuestas Tickets-->
    <v-row v-else>
      <v-col cols="12">
        <v-data-table
          v-if="aspirante != null"
          :headers="headersAspirantes"
          :items="arrayAspirantesCampania"
          :items-per-page="20"
        >
          <template v-slot:item.apto="{ item }">
            <v-icon
              medium
              v-if="item.apto == 1"
              color="blue"
              @click="
                aptoAspirante(item.campania_id, item.aspirante.idaspirante, 0)
              "
            >
              mdi-check-circle
            </v-icon>
            <v-icon
              medium
              v-else
              color="blue"
              @click="
                aptoAspirante(item.campania_id, item.aspirante.idaspirante, 1)
              "
            >
              mdi-circle-outline
            </v-icon>
          </template>
          <template v-slot:item.dias_formacion="{ item }">
            <label>{{ dias_totales_formacion }}</label>
          </template>
        </v-data-table>
        <v-data-table
          v-else-if="aspirante_claro != null"
          :headers="headersAspirantesClaro"
          :items="arrayAspirantesCampania"
          :items-per-page="20"
        >
          <template v-slot:item.apto="{ item }">
            <v-icon
              medium
              v-if="item.apto == 1"
              color="blue"
              @click="
                aptoAspirante(item.campania_id, item.aspirante.idaspirante, 0)
              "
            >
              mdi-check-circle
            </v-icon>
            <v-icon
              medium
              v-else
              color="blue"
              @click="
                aptoAspirante(item.campania_id, item.aspirante.idaspirante, 1)
              "
            >
              mdi-circle-outline
            </v-icon>
          </template>
          <template v-slot:item.dias_formacion="{ item }">
            <label>{{ dias_totales_formacion }}</label>
          </template>
        </v-data-table>
        <v-card-actions>
          <v-btn
            justify-xl-start
            v-if="arrayAspirantesCampania.length > 0"
            class="my-2"
            color="#ECEFF1"
            dark
            style="color: #000"
            @click="banTabla = 0"
          >
            <v-icon color="green" dark>mdi-arrow-left-box</v-icon>Regresar
          </v-btn>
          <v-spacer></v-spacer>
          <v-btn
            justify-xl-end
            v-if="arrayAspirantesCampania.length > 0"
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="formTicketGLPI(numTicketGlpi)"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
    <!-- Fin Listado Respuestas Tickets-->

    <!-- Inicio modal -->
    <v-dialog v-model="dialog" max-width="1000px">
      <v-card>
        <v-card-title>
          <span class="headline"
            ><v-icon medium color="red">mdi-alert</v-icon> Ingrese la
            observación <br
          /></span>
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="12" md="12">
                # Ticket GLPI <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="numTicketGlpi"
                  label="# Ticket GLPI"
                  solo
                  outlined
                  disabled
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="12" md="12">
                Observación <span style="color: #f44336">*</span>
                <v-textarea
                  v-model="observacion"
                  label="Observación"
                  solo
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="cambioTicket()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>
          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrar()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin modal -->

    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false"> Cerrar </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  mounted() {
    this.listarRespuestasTicket();
  },

  data: () => ({
    banTabla: 0,
    nombreFormador: "",
    arrayRespuestasAdmin: [],
    selectCampaniaFormador: null,
    arrayAspirantesCampania: [],

    checkAptoAspirante: [],

    //Para la alerta
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //Inicio para listado
    arrayAspirantes: [],
    headerRespuestas: [
      { text: "# Ticket", value: "ticket_glpi" },
      { text: "Respuesta", value: "observacion_administrador" },
      { text: "Visualizar Aspirantes", value: "accion" },
    ],
    //Fin para listado

    //Inicio listado de aspirantes
    headersAspirantes: [
      { text: "Nombre", value: "aspirante.primer_nombre" },
      { text: "Apellido", value: "aspirante.primer_apellido" },
      { text: "Identificación", value: "aspirante.documento" },
      { text: "Correo Agente", value: "aspirante.correo_agente" },
      { text: "Apto", value: "apto" },
      { text: "Dias asistidos", value: "asistencia_count" },
      { text: "Dias total de formación", value: "dias_formacion" },
    ],
    //fin listado de aspirantes

    //Inicio listado de aspirantes claro
    headersAspirantesClaro: [
      { text: "Nombres", value: "aspirante_claro.nombres" },
      { text: "Apellidos", value: "aspirante_claro.apellidos" },
      { text: "Identificación", value: "aspirante_claro.documento" },
      { text: "Correo Agente", value: "aspirante_claro.correo" },
      { text: "Apto", value: "apto" },
      { text: "Dias asistidos", value: "asistencia_count" },
      { text: "Dias total de formación", value: "dias_formacion" },
    ],
    //fin listado de aspirantes
    //Variables para activar modal
    dialog: false,
    desserts: [],
    //segundo modal
    desserts: [],
    editedIndex: -1,
    editedItem: {
      nombres: "",
      apellidos: "",
      tipo_documento: "",
      documento: "",
      fecha_nacimiento: "",
    },
    diaAsisten: [],
    numTicketGlpi: "",
    observacion: "",
    dias_totales_formacion: "",
    aspirante: null,
    aspirante_claro: null,
  }),

  methods: {
    //Listar Campañas
    listarRespuestasTicket() {
      axios.get("respuetaTikect").then((response) => {
        this.arrayRespuestasAdmin = response.data[0];
        this.nombreFormador =
          response.data[1].nombre + " " + response.data[1].apellido;
      });
    },

    //mostrar modal
    mostrarAspirantes(numTicket) {
      this.banTabla = 1;
      this.numTicketGlpi = numTicket;
      axios.get("listadoAspirantes/" + this.numTicketGlpi).then((response) => {
        this.arrayAspirantesCampania = response.data[0];
        this.aspirante = this.arrayAspirantesCampania[0].aspirante;
        this.aspirante_claro = this.arrayAspirantesCampania[0].aspirante_claro;
        this.dias_totales_formacion = response.data[2];
      });
    },

    //modal de observacion
    formTicketGLPI(tikectGenerado, accion) {
      this.dialog = true;
    },

    //cerrar modal
    cerrar() {
      this.dialog = false;
    },

    //Check Apto Aspirantes
    aptoAspirante(idcampania, idaspirante, param) {
      let dbtm = this;
      dbtm.arrayMensaje = [];
      var numTicket = dbtm.numTicketGlpi;

      axios
        .put("apto", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          param: param,
          devuelto: 1,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.mostrarAspirantes(numTicket);
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    //Pase de asistencia
    paseAsistencia(idcampania, idaspirante, cdia, param) {
      let dbtm = this;
      dbtm.arrayMensaje = [];
      var numTicket = dbtm.numTicketGlpi;

      axios
        .put("asistencia", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          dia: cdia,
          param: param,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro exitoso.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.mostrarAspirantes(numTicket);
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    cambioTicket() {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      if (dbtm.observacion == null || dbtm.observacion.length <= 5) {
        dbtm.arrayMensaje.push(
          "Todos los campos son obligatorios y el campo Observación debe tener por lo menos 6 caracteres."
        );
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
      } else {
        axios
          .post("corrigeTicket", {
            observacion: dbtm.observacion,
            ticket_glpi: dbtm.numTicketGlpi,
          })
          .then(function (response) {
            dbtm.arrayMensaje.push("Registro exitoso.");
            dbtm.banMensaje = true;
            dbtm.colorMensaje = "success";
            dbtm.cerrar();
            dbtm.numTicketGlpi = "";
            dbtm.observacion = "";
            dbtm.banTabla = 0;
            dbtm.listarRespuestasTicket();
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      }
    },
  },
};
</script>
