<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="6">
        <strong>{{ nombreFormador }}</strong>
      </v-col>
    </v-row>

    <v-row cols="12" sm="12">
      <v-col cols="6" sm="6" v-if="arrayCampaniasFormador != ''">
        <!-- <v-select v-model="selectCampaniaFormador" :items="arrayCampaniasFormador" item-text="campania.nombre" item-value="campania.idcampania" label="Seleccione Campaña" outlined @change="listarAspirantes()"></v-select> -->
        <v-select
          v-model="selectCampaniaFormador"
          :items="arrayCampaniasFormador"
          item-text="campania.nombre"
          item-value="campania.idcampania"
          label="Seleccione Campaña"
          outlined
          @change="listaGrupos(selectCampaniaFormador)"
        ></v-select>
      </v-col>
      <v-col cols="6" sm="6" v-else>
        <!-- <v-select v-model="selectCampaniaFormador" :items="arrayCampaniasFormador" item-text="campania.nombre" item-value="campania.idcampania" label="Seleccione Campaña" outlined @change="listarAspirantes()"></v-select> -->
        <span>
          <h4>NO TIENES CAMPAÑAS ASIGNADAS.</h4>
          <small>Comunicate con el reclutador.</small>
        </span>
      </v-col>
      <v-col cols="6" sm="6" v-if="arrayGruposFormador != ''">
        <!-- <v-select v-model="selectGrupoFormador" :items="arrayGruposFormador" item-text="nombre_grupo" item-value="idgrupo" label="Seleccione Grupo" outlined @change="listarAspirantes(selectGrupoFormador,selectCampaniaFormador)"></v-select> -->
        <v-select
          v-model="selectGrupoFormador"
          :items="arrayGruposFormador"
          item-text="nombre_grupo"
          item-value="idgrupo"
          label="Seleccione Grupo"
          outlined
          @change="
            fechasFormacion(selectGrupoFormador),
              listarAspirantes(selectGrupoFormador, selectCampaniaFormador),
              listarecordatoriosCampana()
          "
        >
        </v-select>
      </v-col>
    </v-row>

    <v-form id="formFechas" ref="formFechas">
      <v-row cols="12" sm="12" v-if="fechaFormacion == '1'">
        <v-col cols="12" sm="12">
          <v-divider></v-divider>
          <h4>Asignación de fechas para la formación.</h4>
          <span> <li>Recuerda seleccionar las fechas en orden.</li> </span>
        </v-col>
        <!-- Asignacion de fechas -->
        <v-divider></v-divider>
        <v-col cols="6" md="6" sm="12">
          <v-menu
            ref="menues"
            v-model="menues"
            :close-on-content-click="false"
            :return-value.sync="fechas"
            transition="scale-transition"
            offset-y
            min-width="290px"
            locale="es-ES"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-combobox
                v-model="fechas"
                multiple
                chips
                small-chips
                label="Fechas de capacitación"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                locale="es-MX"
              ></v-combobox>
            </template>
            <v-date-picker
              locale="es-ES"
              v-model="fechas"
              :first-day-of-week="0"
              multiple
              no-title
              scrollable
              :min="fechaHoy"
            >
              <v-spacer></v-spacer>
              <v-btn text color="primary" @click="menues = false">
                Cancel
              </v-btn>
              <v-btn
                text
                color="primary"
                @click="$refs.menues.save(fechas), retornalargo()"
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
          <small v-if="conteo != 0">{{
            "DIAS DE CAPACITACIÓN ASIGNADOS: " + conteo
          }}</small>
        </v-col>
        <v-col cols="6" sm="12" md="6">
          <span></span>
          <v-menu
            v-model="menu2"
            :close-on-content-click="false"
            :nudge-right="40"
            transition="scale-transition"
            offset-y
            min-width="290px"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="fecha_contratacion"
                label="Fecha estimada contratación"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-on="on"
                locale="es-ES"
                required
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="fecha_contratacion"
              @input="menu2 = false"
              :min="fechaHoy"
            ></v-date-picker>
          </v-menu>
        </v-col>
        <v-col cols="12" sm="12">
          <v-btn
            class="ma-2"
            :loading="asignar"
            color="success"
            @click="asignarFecha()"
          >
            Asignar
            <!-- <template v-slot:loader>
                <span>Cargando...</span>
              </template> -->
          </v-btn>
        </v-col>
      </v-row>
    </v-form>

    <!-- Inicio Listado -->
    <v-row cols="12" sm="12" v-if="fechaFormacion == '2'">
      <v-col cols="12" sm="12">
        <v-divider></v-divider>
        <h3 class="text-center">Asistencia para la formación.</h3>
        <label>Fecha Inicio: {{ fechaini }}</label>
        <br />
        <label>Fecha Final: {{ fechafin }}</label>
        <br />
        <br />
        <label>Asistencia del día: {{ fechaHoy }}</label>
        <v-spacer></v-spacer>
        <v-btn
          class="text-right"
          justify-xl-end
          color="blue lighten-2"
          dark
          @click="abrircalendario()"
          >Calendario de Formación</v-btn
        >
      </v-col>

      <v-col cols="12" sm="12">
        <v-data-table
          :headers="headersAspirantes"
          :items="arrayAspirantesCampania"
          :items-per-page="20"
        >
          <template v-slot:item.apto="{ item }">
            <v-icon
              medium
              v-if="item.gestion.apto == 1"
              color="blue"
              @click="aptoAspirante(item.campania_id, item.idaspirante, 0)"
            >
              mdi-check-circle
            </v-icon>

            <v-icon
              medium
              v-else
              color="blue"
              @click="aptoAspirante(item.campania_id, item.idaspirante, 1)"
            >
              mdi-circle-outline
            </v-icon>
          </template>
          <template v-slot:item.retiro="{ item }">
            <!-- si asistencia llega null se crea el boton para que se registre en la tabla asistencias -->
            <div v-if="item.asistencia.length == 0">
              <v-icon
                medium
                color="red"
                @click="
                  (campania_id = item.campania_id),
                    (idaspirante = item.idaspirante),
                    (modalretiro = true)
                "
              >
                mdi-circle-outline
              </v-icon>
            </div>

            <!-- si asistencia ya llega con valores lo unico que hace es cambiar su estado  -->
            <div v-else-if="item.asistencia.length > 0">
              <v-icon
                medium
                v-if="item.asistencia[item.asistencia.length - 1].retiro == 1"
                color="red"
                @click="
                  (campania_id = item.campania_id),
                    (idaspirante = item.idaspirante),
                    (modalretiro = true)
                "
              >
                mdi-check-circle
              </v-icon>
              <v-icon
                medium
                v-else
                color="red"
                @click="
                  (campania_id = item.campania_id),
                    (idaspirante = item.idaspirante),
                    (modalretiro = true)
                "
              >
                mdi-circle-outline
              </v-icon>
            </div>
          </template>
          <template v-slot:item.na="{ item }">
            <!-- si asistencia llega null se crea el boton para que se registre en la tabla asistencias -->
            <div v-if="item.asistencia.length == 0">
              <v-icon
                medium
                color="orange"
                @click="naAspirante(item.campania_id, item.idaspirante)"
              >
                mdi-circle-outline
              </v-icon>
            </div>

            <!-- si asistencia ya llega con valores lo unico que hace es cambiar su estado  -->
            <div v-else-if="item.asistencia.length > 0">
              <v-icon
                medium
                v-if="item.asistencia[item.asistencia.length - 1].na == 1"
                color="orange"
                @click="naAspirante(item.campania_id, item.idaspirante)"
              >
                mdi-check-circle
              </v-icon>
              <v-icon
                medium
                v-else
                color="orange"
                @click="naAspirante(item.campania_id, item.idaspirante)"
              >
                mdi-circle-outline
              </v-icon>
            </div>
          </template>
          <template v-slot:item.asistencia="{ item }">
            <div v-if="item.asistencia.length == 0">
              <v-icon
                medium
                color="green"
                @click="paseAsistencia(item.campania_id, item.idaspirante)"
              >
                mdi-circle-outline
              </v-icon>
            </div>
            <div v-else-if="item.asistencia.length > 0">
              <v-icon
                medium
                v-if="
                  item.asistencia[item.asistencia.length - 1].asistencia == 1
                "
                color="green"
                @click="paseAsistencia(item.campania_id, item.idaspirante, 0)"
              >
                mdi-check-circle
              </v-icon>
              <v-icon
                medium
                v-else
                color="green"
                @click="paseAsistencia(item.campania_id, item.idaspirante)"
              >
                mdi-circle-outline
              </v-icon>
            </div>
          </template>
        </v-data-table>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            justify-xl-end
            v-if="
              arrayAspirantesCampania.length > 0 && grupoglpi.glpi_existe != 1
            "
            class="my-2"
            color="blue lighten-2"
            dark
            style="color: #000"
            @click="formTicketGLPI()"
          >
            <v-icon color="blue darken-4" dark>mdi-check-circle</v-icon>GLPI
          </v-btn>
        </v-card-actions>
      </v-col>
    </v-row>
    <v-row cols="12" sm="12" v-if="fechaFormacion == '3'">
      <v-col cols="12" sm="12">
        <v-divider></v-divider>
        <h3 class="text-center">Fechas de formación.</h3>
        <label>Fecha Inicio: {{ fechaini }}</label>
        <br />
        <label>Fecha Final: {{ fechafin }}</label>
        <br />
        <h5>Este grupo no tiene formacion hoy: {{ fechaHoy }}</h5>
      </v-col>
    </v-row>
    <!-- Fin Listado -->

    <!-- Inicio modal -->
    <v-dialog v-model="dialog" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"
            ><v-icon medium color="red">mdi-alert</v-icon> Por favor ingrese el
            número de ticket <br />
            generado en GLPI</span
          >
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="3"></v-col>
              <v-col cols="12" sm="6" md="6">
                Número de Ticket <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="numeroTicketGLPI"
                  label="Número de Ticket"
                  solo
                  outlined
                  @keypress="isNumber($event)"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="12" md="12">
                Observación <span style="color: #f44336">*</span>
                <v-textarea
                  v-model="observacionTicketGLPI"
                  label="Observación"
                  solo
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="enviaTicketGLPI()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>

          <v-btn
            class="my-2"
            color="#FFCDD2"
            dark
            style="color: #000"
            @click="cerrar()"
          >
            <v-icon color="red" dark>mdi-close</v-icon>Cerrar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin modal -->

    <!-- Confirmacion la ctualizacion de fechas -->
    <v-row justify="center">
      <v-dialog v-model="fechaActualizada" persistent max-width="30%">
        <v-card>
          <v-card-title class="headline">¡¡ Excelente !!</v-card-title>
          <v-card-text
            >Se han asignado las fechas al grupo de formación.</v-card-text
          >
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn
              color="red"
              text
              @click="
                fechasFormacion(selectGrupoFormador),
                  listarAspirantes(selectGrupoFormador, selectCampaniaFormador)
              "
              >Cerrar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <!-- Inicio tercer modal calendario -->
    <v-dialog v-model="dialog_fechas" max-width="600px">
      <v-card>
        <v-card-title>
          <span class="headline"> CALENDARIO DE FORMACIÓN </span>
        </v-card-title>

        <v-card-text>
          <v-simple-table v-if="pinchis != null">
            <template v-slot:default>
              <thead>
                <tr>
                  <th class="text-left">Nombre Completo</th>
                  <th
                    v-for="items in array_Fechas"
                    :key="items"
                    class="text-left"
                  >
                    {{ items }}
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="item in arrayAspirantesCampania"
                  :key="item.idaspirante"
                >
                  <td>{{ item.nombre_completo }}</td>
                  <td
                    v-for="asistencia in item.asistencia"
                    :key="asistencia.idasistencia"
                  >
                    <ol>
                      <li v-if="asistencia.retiro == 1" style="color: red">
                        Se retiró
                      </li>
                      <li
                        v-if="
                          asistencia.asistencia == 0 && asistencia.retiro == 0
                        "
                        style="color: red"
                      >
                        No asiste
                      </li>
                      <li
                        v-if="
                          asistencia.asistencia == 1 && asistencia.retiro == 0
                        "
                        style="color: green"
                      >
                        Asiste
                      </li>
                      <li
                        v-if="
                          item.gestion.apto == 1 &&
                          asistencia.fecha_formacion == fechafin &&
                          asistencia.retiro == 0
                        "
                        style="color: #005180"
                      >
                        Apto
                      </li>
                      <li
                        v-if="
                          item.gestion.apto == 0 &&
                          asistencia.fecha_formacion == fechafin &&
                          asistencia.retiro == 0
                        "
                        style="color: #b80000"
                      >
                        No apto
                      </li>
                    </ol>
                  </td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="dialog_fechas = false"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>CERRAR
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin tercer modal calendario -->

    <!-- popup para retiro -->
    <v-dialog v-model="modalretiro" persistent max-width="290">
      <v-card>
        <v-card-title class="headline">
          <h5>¿Quieres generar el retiro de esta postulación?</h5> 
        </v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="green darken-1" text @click="seguridadretiro('si')">
            Si
          </v-btn>
          <v-btn color="red darken-1" text @click="seguridadretiro('no')">
            No
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- fin popup -->

    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false"> Cerrar </v-btn>
    </v-snackbar>

    <v-snackbar v-model="recordatorioalerta" :color="color" right top>
      <span dark>
        {{ mensajerecordatorio }}
      </span>
      <v-btn color="black" text @click="recordatorioalerta = false">
        Cerrar
      </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  mounted() {
    this.listarCampaniasFormador();
  },

  data: () => ({
    nombreFormador: "",
    arrayCampaniasFormador: [],
    selectCampaniaFormador: null,
    selectGrupoFormador: null,
    arrayGruposFormador: [],
    arrayAspirantesCampania: [],
    fechaFormacion: "",
    asignar: false,
    fechaActualizada: false,
    fechaHoy: new Date().toISOString().substr(0, 10),
    fechaayer: new Date(),

    //Para la alerta
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //Inicio para listado
    arrayAspirantes: [],
    headersAspirantes: [
      { text: "Nombre Completo", value: "nombre_completo" },
      { text: "Identificación", value: "documento" },
      { text: "Correo Agente", value: "correo_agente" },
      { text: "Apto", value: "apto" },
      { text: "Retiro", value: "retiro" },
      { text: "No Asiste", value: "na" },
      { text: "Asistencia", value: "asistencia" },
    ],
    //Fin para listado

    //Variables para activar modal
    dialog: false,
    numeroTicketGLPI: "",
    observacionTicketGLPI: "",
    grupoglpi: null,

    fechas: null,
    menues: false,
    español: "es",
    fecha_contratacion: null,
    menu2: false,
    dias: 1,
    conteo: 0,
    ok: "no",
    disable: true,
    dialog_fechas: false,
    array_Fechas: null,
    pinchis: null,
    recordatorios: null,
    recordatorioalerta: false,
    mensajerecordatorio: null,
    color: null,
    modalretiro: false,
    confirmacion: "",
    campania_id: "",
    idaspirante: "",
  }),

  methods: {
    seguridadretiro(confirmacion) {
      if (confirmacion == "si") {
        this.retiroAspirante(this.campania_id, this.idaspirante);
      } else {
        this.modalretiro = false;
      }
    },
    retornalargo() {
      this.conteo = this.fechas.length;
      console.log(this.fechaayer);
      return this.conteo;
    },
    listaGrupos(campa) {
      this.fechaInicio = "";
      this.fechaFin = "";
      axios.post("/listarGruposFormador", { campa: campa }).then((res) => {
        this.arrayGruposFormador = res.data;
      });
    },
    //Listar Campañas
    listarCampaniasFormador() {
      axios.get("listarCampaniasFormador").then((response) => {
        this.arrayCampaniasFormador = response.data[0];
        this.nombreFormador =
          response.data[1].nombre + " " + response.data[1].apellido;
      });
    },

    fechasFormacion(grupo) {
      //let dbtm = this;
      this.fechas = [];
      axios.post("/valiarFechasFormacion", { grupo: grupo }).then((res) => {
        this.fechaini = res.data.fechaInicio;
        this.fechafin = res.data.fechaFinal;

        this.fechaFormacion = res.data.respuesta;

        if (this.fechaHoy == this.fechafin) {
          this.disable = false;
        }
      });
    },

    asignarFecha() {
      this.asignar = true;
      if (this.$refs.formFechas.validate()) {
        axios
          .post("/asignarFecha", {
            fechas: this.fechas,
            idgrupo: this.selectGrupoFormador,
            campania: this.selectCampaniaFormador,
            fechaContrato: this.fecha_contratacion,
          })
          .then((res) => {
            this.asignar = false;
            this.fechaActualizada = true;
            this.fechaFormacion = "";
            this.fechas = null;
            this.fecha_contratacion = null;
          });
      } else {
        this.asignar = false;
      }
    },

    //Listar Aspirantes
    listarAspirantes(idgrupo, idcampania) {
      this.fechaActualizada = false;
      axios
        .post("/listarAspirantesCampania", {
          grupo: idgrupo,
          campania: idcampania,
          fecha: this.fechaHoy,
        })
        .then((res) => {
          this.arrayAspirantesCampania = res.data[0];
          this.array_Fechas = res.data[2];
          this.pinchis = 1;
          if (typeof res.data[0].asistencia != "undefined") {
            this.ok = "si";
          }

          this.grupoglpi = res.data[1];
        });
      // console.log(this.selectCampaniaFormador.campania_id);
      // axios.get("listarAspirantesCampania/"+this.selectCampaniaFormador.campania.campania_id_crm).then(response => {

      //-------------------------------------------------------------
      // var idcampaniaa = '';
      // if(idcampania===undefined){
      //   idcampaniaa = this.selectCampaniaFormador;
      // }else{
      //   idcampaniaa = idcampania;
      // }
      // axios.get("listarAspirantesCampania/"+idcampaniaa).then(response => {
      //   this.arrayAspirantesCampania = response.data;
      // });
      //-------------------------------------------------------------

      //console.log(idgrupo,idcampania);
    },

    //Check Apto Aspirantes
    aptoAspirante(idcampania, idaspirante, param) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("apto", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          param: param,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listarAspirantes(
            dbtm.selectGrupoFormador,
            dbtm.selectCampaniaFormador
          );
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    retiroAspirante(idcampania, idaspirante) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("retiro", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          fecha: dbtm.fechaHoy,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listarAspirantes(
            dbtm.selectGrupoFormador,
            dbtm.selectCampaniaFormador
          );
          dbtm.modalretiro = false;
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    naAspirante(idcampania, idaspirante) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("na", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          fecha: dbtm.fechaHoy,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro modificado exitosamente.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listarAspirantes(
            dbtm.selectGrupoFormador,
            dbtm.selectCampaniaFormador
          );
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    //Pase de asistencia
    paseAsistencia(idcampania, idaspirante) {
      let dbtm = this;
      dbtm.arrayMensaje = [];

      axios
        .put("asistencia", {
          idcampania: idcampania,
          idaspirante: idaspirante,
          fecha: dbtm.fechaHoy,
        })
        .then(function (response) {
          dbtm.arrayMensaje.push("Registro exitoso.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "success";
          dbtm.listarAspirantes(
            dbtm.selectGrupoFormador,
            dbtm.selectCampaniaFormador
          );
        })
        .catch(function (error) {
          dbtm.arrayMensaje.push("Error. Intente otra vez.");
          dbtm.banMensaje = true;
          dbtm.colorMensaje = "error";
        });
    },

    formTicketGLPI() {
      this.dialog = true;
    },

    //Validaciones de solo Numeros
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },

    enviaTicketGLPI(idformador) {
      let dbtm = this;
      dbtm.arrayMensaje = [];
      if (
        dbtm.numeroTicketGLPI == 0 ||
        dbtm.numeroTicketGLPI == null ||
        dbtm.observacionTicketGLPI == null ||
        dbtm.observacionTicketGLPI.length <= 5
      ) {
        dbtm.arrayMensaje.push(
          "Todos los campos son obligatorios y el campo Observación debe tener por lo menos 6 caracteres."
        );
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
      } else {
        axios
          .post("enviaTicketGlpi", {
            idcampania: dbtm.selectCampaniaFormador,
            numeroTicketGLPI: dbtm.numeroTicketGLPI,
            observacionTicketGLPI: dbtm.observacionTicketGLPI,
            idgrupo: dbtm.grupoglpi.idgrupo,
          })
          .then(function (response) {
            if (response.status == 220) {
              dbtm.arrayMensaje.push("Número de Ticket GLPI ya existe.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            } else if (response.status == 200) {
              dbtm.arrayMensaje.push("Registro exitoso.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "success";
              dbtm.listarAspirantes(
                dbtm.selectGrupoFormador,
                dbtm.selectCampaniaFormador
              );
              dbtm.cerrar();
            }
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      }
    },

    cerrar() {
      this.dialog = false;
      this.numeroTicketGLPI = "";
      this.observacionTicketGLPI = "";
    },

    abrircalendario() {
      this.dialog_fechas = true;
    },

    listarecordatoriosCampana() {
      axios
        .get("recordatoriosCampana", {
          params: {
            campana: this.selectCampaniaFormador,
            fecha: this.fechaHoy,
          },
        })
        .then((res) => {
          if (res.data != "") {
            this.recordatorios = res.data;
            this.mensajerecordatorio = res.data.recordatorio;
            this.color = res.data.color;
            this.recordatorioalerta = true;
          }
        });
    },
  },
};
</script>
