<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" sm="8">
        <span class="text-left">
          <h5><strong>Asignación de usuarios</strong></h5>
          Haz clic sobre la imágen y descarga la plantilla para realizar el
          cargue.
          <br />
          <i class="material-icons" style="font-size: 12px">label_important</i>
          Por favor no alterar el orden ni los nombres de las columnas de la
          plantilla.
          <br />
          <i class="material-icons" style="font-size: 12px">label_important</i>
          Por favor diligencie todas las filas y campos obligatorios.
          <br />
          <i class="material-icons" style="font-size: 12px">label_important</i>
          Por favor usar los tipos de formatos necesarios (Caracteres, Numérico,
          Fecha, etc).
        </span>
      </v-col>

      <v-col cols="6" sm="2" v-if="campana >= 1 && campana <= 7">
        <a href="archivos/plantilla/UsuariosClaroHolos.xlsx">
          <v-img
            :aspect-ratio="16 / 9"
            src="img/imaexcel.png"
            width="180px"
            height="150px"
          ></v-img>
        </a>
        <p class="font-weight-light text-center">Usuarios Claro Holos.</p>
        <br />
      </v-col>
      <v-col cols="6" sm="2" v-if="campana > 7">
        <a href="archivos/plantilla/UsuariosClaro.xlsx">
          <v-img
            :aspect-ratio="16 / 9"
            src="img/imaexcel.png"
            width="180px"
            height="150px"
          ></v-img>
        </a>
        <p class="font-weight-light text-center">Usuarios Claro.</p>
        <br />
      </v-col>
    </v-row>

    <v-row cols="12" sm="12">
      <v-col cols="12" sm="4">
        <v-select
          v-model="selectCampania"
          :items="arrayCampaniasCrm"
          item-text="nombre"
          @change="consultaGrupo(selectCampania)"
          item-value="idcampania"
          label="Seleccione Campaña"
          outlined
        ></v-select>
      </v-col>

      <v-col cols="12" sm="4" v-if="selectCampania != null">
        <v-text-field v-model="grupo" label="Grupo" disabled> </v-text-field>
      </v-col>

      <v-col cols="12" sm="4">
        <v-select
          v-model="selectFormador"
          :items="arrayFormadores"
          item-text="nombrecompleto"
          item-value="id_usuario"
          label="Seleccione Formador"
          outlined
        ></v-select>
      </v-col>

      <v-col cols="12" sm="10">
        <template>
          <v-file-input
            v-model="file"
            accept=".xlsx, .xls, .ods, .XLSX, .XLS, .ODS"
            multiple
            prepend-icon=""
            outlined
            required
          >
            <template v-slot:label>
              Cargar usuarios
              <v-icon style="vertical-align: middle" color="orange darken-2"
                >mdi-folder-upload</v-icon
              >
            </template>
          </v-file-input>
        </template>
      </v-col>

      <v-col cols="12" sm="2">
        <v-btn
          class="my-2"
          color="success"
          :loading="dialogEnviando"
          @click="confirmaBase()"
        >
          <v-icon dark>mdi-cloud-upload</v-icon> Enviar
        </v-btn>
      </v-col>
    </v-row>

    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false"> Cerrar </v-btn>
    </v-snackbar>

    <!-- Confirmacion para subir base -->
    <v-row justify="center">
      <v-dialog v-model="confirBase" persistent max-width="30%">
        <v-card>
          <v-card-title class="headline">Confirmación del cargue</v-card-title>
          <v-card-text>¿Está seguro que desea cargar la base?</v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="red" text @click="confirBase = false">Cancelar</v-btn>
            <v-btn
              v-if="campana >= 1 && campana <= 7"
              color="green darken-1"
              text
              @click="cargar_base(1)"
              >Confirmar</v-btn
            >
            <v-btn
              v-if="campana > 7"
              color="green darken-1"
              text
              @click="cargar_base(2)"
              >Confirmar</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>

    <!-- Inicio Listado -->
    <v-row>
      <v-col cols="12">
        <v-data-table
          :headers="headersArchivoCarga"
          :items="arrayArchivoCarga"
          class="elevation-3"
          :items-per-page="5"
        >
          <template v-slot:item.action="{ item }">
            <v-btn
              :href="item.ruta_errores"
              v-if="item.numero_errores > 0 || item.numero_fallas > 0"
              color="error"
              class="mx-3"
              small
              >Descargar Errores</v-btn
            >
            <v-btn :href="item.ruta" color="success" class="mx-3" small
              >Descargar Excel</v-btn
            >
          </template>
        </v-data-table>
      </v-col>
    </v-row>
    <!-- Fin Listado -->

    <!-- Inicio modal -->
    <v-dialog v-model="dialog_glpi" max-width="600px" persistent>
      <v-card>
        <v-card-title>
          <span class="headline"
            ><v-icon medium color="red">mdi-alert</v-icon> Por favor ingrese el
            número de ticket <br />
            generado en GLPI</span
          >
        </v-card-title>

        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="3"></v-col>
              <v-col cols="12" sm="6" md="6">
                Número de Ticket <span style="color: #f44336">*</span>
                <v-text-field
                  v-model="numeroTicketGLPI"
                  label="Número de Ticket"
                  solo
                  outlined
                  @keypress="isNumber($event)"
                ></v-text-field>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12" sm="12" md="12">
                Observación <span style="color: #f44336">*</span>
                <v-textarea
                  v-model="observacionTicketGLPI"
                  label="Observación"
                  solo
                  outlined
                  rows="4"
                ></v-textarea>
              </v-col>
            </v-row>
          </v-container>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            class="my-2"
            color="#DCEDC8"
            dark
            style="color: #000"
            @click="enviaTicketGLPI()"
          >
            <v-icon color="green" dark>mdi-check-circle</v-icon>Guardar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <!-- Fin modal -->
    <v-snackbar
      v-for="(mensaje, index) in arrayMensaje"
      :key="index"
      v-model="banMensaje"
      :color="colorMensaje"
      right
      top
    >
      {{ mensaje }}
      <v-btn color="black" text @click="banMensaje = false"> Cerrar </v-btn>
    </v-snackbar>
  </v-container>
</template>

<script>
export default {
  mounted() {
    this.listarCampaniasCrm();
    this.listarFormadores();
    this.listarArchivoCarga();
  },

  data: () => ({
    file: [],
    selectCampania: null,
    selectFormador: null,
    grupo: null,
    arrayCampaniasCrm: [],
    arrayFormadores: [],
    arrayGrupos: [],
    loading: false,
    confirBase: false,

    //Para la alerta
    banMensaje: false,
    arrayMensaje: [],
    colorMensaje: "",

    //Inicio para listado
    arrayArchivoCarga: [],
    dialogEnviando: false,
    campana: 0,
    headersArchivoCarga: [
      {
        text: "#",
        value: "idcargue",
      },
      {
        text: "Nombre",
        value: "ruta",
      },
      {
        text: "Número Registros Cargados",
        value: "numero_registros_cargados",
      },
      {
        text: "Número registros con errores",
        value: "numero_fallas",
      },
      {
        text: "Campaña",
        value: "campana.nombre",
      },
      {
        text: "Grupo",
        value: "grupo.nombre_grupo",
      },
      {
        text: "Acción",
        value: "action",
        sortable: false,
      },
    ],
    dialog_glpi: false,
    numeroTicketGLPI: null,
    observacionTicketGLPI: null,
    grupoglpi: null

    //Fin para listado
  }),

  methods: {
    //Validaciones de solo Numeros
    isNumber: function (evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        charCode > 31 &&
        (charCode < 48 || charCode > 57) &&
        charCode !== 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    },
    listaGrupos() {
      axios.post("/listarGrupoCargue", { grupo: this.grupo}).then((res) => {
        this.grupoglpi = res.data;
      });
    },
    enviaTicketGLPI(idformador) {
      let dbtm = this;
      dbtm.arrayMensaje = [];
      if (
        dbtm.numeroTicketGLPI == 0 ||
        dbtm.numeroTicketGLPI == null ||
        dbtm.observacionTicketGLPI == null ||
        dbtm.observacionTicketGLPI.length <= 5
      ) {
        dbtm.arrayMensaje.push(
          "Todos los campos son obligatorios y el campo Observación debe tener por lo menos 6 caracteres."
        );
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
      } else {
        axios
          .post("enviaTicketGlpi", {
            idcampania: dbtm.campana,
            numeroTicketGLPI: dbtm.numeroTicketGLPI,
            observacionTicketGLPI: dbtm.observacionTicketGLPI,
            idgrupo: dbtm.grupoglpi.idgrupo,
            clave: 1
          })
          .then(function (response) {
            if (response.status == 220) {
              dbtm.arrayMensaje.push("Número de Ticket GLPI ya existe.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";              
            } else if (response.status == 200) {
              dbtm.arrayMensaje.push("Registro exitoso.");
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "success";
              dbtm.limpiarFormulario();
              dbtm.cerrar();
            }
          })
          .catch(function (error) {
            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            });
          });
      }
    },

    //confirmar cragar base
    confirmaBase() {
      this.confirBase = true;
    },

    //Cargar datos en base
    cargar_base(clave) {
      console.log(clave);
      let dbtm = this;
      let dataForm = new FormData();
      dbtm.confirBase = false;
      dbtm.arrayMensaje = [];

      dbtm.dialogEnviar = false;
      dbtm.dialogEnviando = true;
      dbtm.clave = clave;

      if (
        dbtm.selectCampania != null &&
        dbtm.selectFormador != null &&
        dbtm.file[0] != null
      ) {
        dataForm.append("selectCampania", dbtm.selectCampania);
        dataForm.append("grupo", dbtm.grupo);
        dataForm.append("selectFormador", dbtm.selectFormador);
        dataForm.append("file", dbtm.file[0]);
        dataForm.append("clave", dbtm.clave);

        axios({
          url: "cargar_base",
          method: "POST",
          data: dataForm,
          headers: {
            "Content-Type": "multipart/form-data",
          },
        })
          .then((response) => {
            dbtm.arrayMensaje.push("Cargado exitosamente.");
            dbtm.banMensaje = true;
            dbtm.colorMensaje = "success";
            dbtm.dialogEnviando = false;            
            dbtm.listarArchivoCarga();
            dbtm.dialog_glpi = true;
            dbtm.listaGrupos();
          })
          .catch((error) => {
            // console.log("holas", error.response.status);
            if (error.response.status == 413) {
              dbtm.arrayMensaje.push(
                "La extensión del archivo debe ser .xlsx, .xls, .ods"
              );
              dbtm.banMensaje = true;
              dbtm.colorMensaje = "error";
            }

            if (error.response.status == 420) {
              dbtm.colorMensaje = "warning";
            }

            if (error.response.status == 422) {
              dbtm.colorMensaje = "error";
            }

            $.each(error.response.data.errors, function (key, value) {
              dbtm.arrayMensaje.push(value);
              dbtm.banMensaje = true;
            });
            dbtm.dialogEnviando = false;
            dbtm.listarArchivoCarga();
          });
      } else {
        dbtm.arrayMensaje.push("Todos los campos son obligatorios");
        dbtm.banMensaje = true;
        dbtm.colorMensaje = "error";
        dbtm.dialogEnviando = false;
      }
    },

    //Listar archivos cargados
    listarArchivoCarga() {
      axios.get("listarArchivoCarga").then((response) => {
        this.arrayArchivoCarga = response.data;
      });
    },

    //Listar Campañas
    listarCampaniasCrm() {
      axios.get("listarCampaniasCrm").then((response) => {
        this.arrayCampaniasCrm = response.data;
      });
    },

    //Listar Formadores Usuarios
    listarFormadores() {
      axios.get("listarFormadores").then((response) => {
        this.arrayFormadores = response.data;
      });
    },

    //Limpiar Formulario
    limpiarFormulario() {
      this.file = [];
      this.selectCampania = "";
      this.selectFormador = "";
      this.campana = 0;    
    },

    consultaGrupo(campa) {
      this.campana = campa;
      axios
        .post("/listarGrupos", {
          info: campa,
        })
        .then((res) => {
          this.grupo = res.data;
        });
    },

    cerrar() {
      this.dialog_glpi = false;
      this.numeroTicketGLPI = null;
      this.observacionTicketGLPI = null;
      this.grupo = null;
    },
  },
};
</script>
